body {
  font-family: "ROBOTO", sans-serif;
  color: #03dac6;
  font-size: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /*situa el header en la parte superior*/
  position: relative;
  background-color: #1e1f26;
  text-align: center;
}

/* Estilos encabezado del formulario*/
.nav-login {
  position: absolute;
  width: 100%;
  height: 5%;
  left: 0;
  top: 42%;
  background: #c53d78;
  border-radius: 3px;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-access-login {
  position: sticky;
  margin: 10px auto;
  padding: 10px;
  bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #414040;
  z-index: 10;
}

.input-form {
  width: 100%;
  margin: 15px auto;
  padding: 12px;
  border: 1px solid #f328af;
  border-radius: 7px;
  background-color: #ffffff;
}

h2 {
  text-align: center;
}



/* Estilos para los campos del formulario */

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 3px;
  text-align: left;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Estilos boton ENTRAR */

.btn {
  padding: 10px 20px;
  border-color: #1e1f26;
  border-radius: 5px;
  background-color: #03dac6;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 30px;
}

.btn:hover {
  opacity: 0.8;
}
.btn:active {
  transform: scale(0.95); /* Escala ligeramente el botón cuando se hace clic */
}

/*estilos linkpage*/

h3{
  color: #03dac6;
  font-family: "ROBOTO", sans-serif;
  font-size: 30px;
  margin-left: 0;
  margin-right: 0;
}

.nav-new {
  position: absolute;
  width: 100%;
  height: 6%;
  left: 0;
  top: 42%;
  background: #c53d78;
  border-radius: 3px;
  z-index: 10;
}


.nav-new-link {
  position: sticky;
  margin: auto;
  padding: 40px;
  bottom: 30px;
  border: 1px solid #020202;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(29, 27, 27, 0.8); 
  z-index: 10;
}

.input-new {
  width: 100%;
  margin: 15px auto;
  padding: 8px;
  border: 1px solid #f328af;
  border-radius: 7px;
  background-color: #ffffff;
}

.link-card {
  position: sticky;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: none;
  height: 50%; 
  text-align: center;
  background: rgba(216, 213, 213, 0.8); 
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.link-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 5px 15px rgba(255, 0, 157,1); 
}

.link-card h4{
  color:#010101;
  margin-top: 10px;
  font-family: "ROBOTO", sans-serif;
  font-size: 25px;
  
}
.link-card h5 {
  font-family: "ROBOTO", sans-serif;
  font-size: 20px;
  color: #00ffee;
  margin-top: 10px;
  white-space: normal;
  overflow-wrap: break-word;
}

.link-card p {
  color: #ffff00;
  font-family: "ROBOTO", sans-serif;
  font-size: 15px;
}

.link-card a {
  color: #f328af;
  font-family: "ROBOTO", sans-serif;
  font-size: 30px; 
  font-weight: 500;
  max-width: 80%; 
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.error-page{
  position: sticky;
  padding: 20px;
  max-width: none;
  text-align: center;
  z-index: 10;
}

.error-page h1{
  font-size:7vh
}

.error-page p{
  color:rgb(39, 186, 186);
  margin-top:40px;
  font-family: "ROBOTO", sans-serif;
  font-size:20px;
}

.error-page a{
  color:#da03d6;
  font-size: 15px;
}

@media only screen and (max-width: 360px) and (min-height: 740px) {
  .link-card,.nav-new-link {
    width: 80%; 
    max-width: 400px; 
  }

  .link-card h4 {
    font-size: 20px; 
  }

  .link-card h5 {
    font-size: 18px; 
  }

  .link-card p {
    font-size: 15px; 
  }

  .link-card a {
    font-size: 20px; 
  }

  a,
  h4,
  h5,
  p{
    font-size: 15px; 
  }
}

  h3 {
    font-size: 10px;
  }

